.loginBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.button {
  width: 90%;
  height: 1.7rem;
  margin-bottom: 0.5em;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  cursor: pointer;
}

.button:hover {
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  background-color: silver;
}
